<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Rate Music&Movie---All Albums Information</title>
</head>
   <body>
 <!--
      <h3>
         <a href = "{{ url_for('albums') }}">Add New Album</a>
      </h3>
-->>
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Albums </h3>
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Cover</th>
               <th>Name</th>
               <th>Album or EP</th>
                <th>Release Date</th>
                <th>Detailed Information</th>
                <th>Genre</th>
                <th>Artists</th>
                <th>Album Comment ID</th>
                <th>Album Rating</th>
                <th>Tracks</th>
            </tr>
         </thead>

         <tbody>
            {% for album in albums %}
               <tr>
                  <td>{{ album.id }}</td>
                  <td>{{ album.cover }}</td>
                  <td>{{ album.name }}</td>
                  <td>{{ album.album_or_ep }}</td>
                  <td>{{ album.releaseDate }}</td>
                  <td>{{ album.detailedInfo }}</td>
                  <td>{{ album.genre_id }}</td>
                  <td>{{ album.album_artists }}</td>
                  <td>{{ album.album_comment }}</td>
                  <td>{{ album.album_rating }}</td>
                  <td>{{ album.tracks }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>