{% extends 'base.html' %}
{% block content %}

<h2>Most Popular <a href="{{ url_for('mov') }}">Movie</a></h2>
      <table>
         <thead>
            <tr>
               <th>Title</th>
               <th>Country</th>
               <th>Release Date</th>
            </tr>
         </thead>
         <tbody>
            {% for movie in movie_popular %}
               <tr>
                   <td><a href="/movieinfo/{{ movie[0] }}">{{ movie[1] }}</a></td>
                <td>{{ movie[2] }}</td>
                <td>{{ movie[3] }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
<h2>Most Popular Album</h2>
      <table>
         <thead>
            <tr>
               <th>Title</th>
               <th>Type</th>
               <th>Genre</th>
            </tr>
         </thead>
         <tbody>
            {% for album in album_popular %}
               <tr>
                <td>{{ album[1] }}</td>
                <td>{{ album[2] }}</td>
                <td>{{ album[3] }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
<h2>Genre for all Movies</h2>
      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>Name</th>
            </tr>
         </thead>
         <tbody>
            {% for genre in genre_for_all_movies %}
               <tr>
               <td>{{ genre[0] }}</td>
               <td>{{ genre[1] }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
<h2>Summary</h2>
    <p>Until <label id="now" style="white-space:nowrap;"></label>, this database has {{ movie_number }} movies, and {{ album_number }} albums</p>
{% endblock %}