<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Rate Music&Movie---All Albums Information</title>
</head>
   <body>

      <h3>
         <a href = "{{ url_for('addcom') }}">Add Movie Comment</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Movies </h3>
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Title</th>
               <th>Release Date</th>
                <th>Country</th>
               <th>Detailed Information</th>
               <th>Genre</th>
                <th>Actors</th>
                <th>Directors</th>
                <th>Movie Comments</th>
                <th>Movie Ratings</th>
               
            </tr>
         </thead>

         <tbody>
            {% for post in posts %}
               <tr>
                  <td>{{ post.id }}</td>
                  <td>{{ post.title }}</td>
                  <td>{{ post.release_date }}</td>
                  <td>{{ post.country }}</td>
                  <td>{{ post.detailed_information }}</td>
                  <td>{{ post.genre_id }}</td>
                  <td>{{ post.acts }}</td>
                  <td>{{ post.directs }}</td>
                  <td>{{ post.comment }}</td>
                  <td>{{ post.rating  }}</td>
                  
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>