{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Rate Music&Movie---All User information</title>
</head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all') }}">Show all User info</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Users (<a href = "{{ url_for('register') }}">Add User
         </a>)</h3>
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Username</th>
               <th>Email</th>
                <th>Music Weight</th>
                <th>Movie Weight</th>
                <th>albumrate</th>

            </tr>
         </thead>

         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.music_rating_weight }}</td>
                    <td>{{ user.movie_rating_weight }}</td>
                    <td>{{ user.album_r_id }}</td>
                    <td>{{ user.album_c_id }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>
{% endblock %}